[submodule ".zsh/fast-syntax-highlighting"]
	path = .zsh/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule ".config/alacritty/alacritty-theme"]
	path = .config/alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme.git
[submodule ".zsh/zsh-async"]
	path = .zsh/zsh-async
	url = https://github.com/mafredri/zsh-async.git
